.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: .25rem;
}

.InputElement:focus {
    outline: none;
    box-shadow: 0 0 5px #0577f1;
    border-radius: .25rem;
}

.Invalid {
    border: 1px solid rgb(201, 12, 12);
    background-color: rgb(255, 211, 205);
    border-radius: .25rem;
}