.BuildControls {
    width: 100%;
    background-color: rgb(243, 236, 225);
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.OrderButton {
    margin-top: 10px;
    background-color: #007bff;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    color: #fff;
    font-family: inherit;
    font-size: 1em;
    padding: .375rem .75rem;
    border-color: #007bff;
    margin-bottom: 20px;
    border: 1px solid transparent;
    text-align: center;
    line-height: 1.5;
    border-radius: .25rem;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #28a745;
    color: #fff;
}

.OrderButton:disabled {
    background-color: #dc3545;
    cursor: not-allowed;
    border-color: #dc3545;
    color: #fff;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}