.Button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    font: inherit;
    cursor: pointer;
    margin-bottom: 20px;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border: 1px solid #28a745;
}

.Danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border: 1px solid #dc3545;
    margin-right: 20px;
}

.Action {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border: 1px solid #17a2b8;
    margin-left: 80%;
}